@import url(./footer.css);
@import url(./header.css);
@import url(./normalize.css);
@import url(./txt.css);

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li > a {
    display: block;
}

a {
    text-decoration: none;
}