.header {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    white-space: nowrap !important;
}

#header__logo {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 99px;
    top: 83px;

    cursor: pointer;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    cursor: pointer;
}

.headerButton {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    
    padding: 4px 8px;
    background-color: #000;
    border-radius: 50px;
}

.headerButton:hover {
    color: #000;
    background-color: #fff;
    text-decoration-line: underline;
}

#specialists {
    position: absolute;
    width: 142px;
    height: 26.4px;
    left: 1037px;
    top: 83.4px;
}

#teams {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 1244px;
    top: 83px;
}

#search {
    position: absolute;
    width: 61px;
    height: 22px;
    left: 1401px;
    top: 83px;
}

#feedbacks {
    position: absolute;
    /*width: 131px;*/
    height: 22px;
    left: 1519px;
    top: 83px;
}

#bell {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1708px;
    top: 83px;
}

#profile__avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1781px;
    top: 75px;
}

#search__box {
    display: none;
    z-index: 1;
}

#search-txt {
    z-index: 2;
    border: none;
    position: absolute;
    width: 152px;
    height: 17px;
    left: 1300px;
    top: 130.5px;
    outline: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #C2C2C2;
    background: #F0F0F0;
}

#search-bg {
    position: absolute;
    width: 228px;
    /*height: 51.5px;*/
    left: 1260px;
    top: 106px;
}

#magnifier-1 {
    position: absolute;
    height: 16px;
    width: 21.33333396911621px;
    left: 1271px;
    top: 132.60498046875px;

    border-radius: 0px;
}

#magnifier-2 {
    position: absolute;
    height: 4.350000381469727px;
    width: 5.8000006675720215px;
    left: 1286px;
    top: 145px;

    border-radius: 0px;
}

#notifications {
    z-index: 2;
    display: none;
}

#notifications__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 180px;
    height: 237px;
    left: 1580px;
    top: 109px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
    border-radius: 4px;
}