.main {
    position: absolute;
    left: 183px;
    top: 202px;
    width: 1554px;
    height: 754px;
}

.main__right {
    position: absolute;
    left: 777px;
}

.login__bg__image {
    z-index: 0;
    border-top-right-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

.blurred__window {
    z-index: 1;
    position: absolute;
    left: 152px;
    top: 462px;
    width: 473px;
    height: 230px;

    background: rgba(255, 254, 254, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 50px;
}

.blurred__text {
    position: absolute;
    top: 23px;
    left: 26px;
    height: auto;
    width: auto;
    color: #fff;
}

.blurred__author {
    position: absolute;
    top: 185px;
    left: 290px;
    height: auto;
    white-space: nowrap;

    color: #fff;
}

#specialists__button {
    position: absolute;
    top: 66px;
    left: 91px;
    height: 59px;
    width: 297px;

    background: #fff;
    color: #000;
    text-decoration: underline;
}

#specialists__window {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 594px;
    height: 567px;
    left: 91px;
    top: 125px;

    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
}

#teams__window {
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 594px;
    height: 567px;
    left: 91px;
    top: 125px;

    background: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #000000;
}

#teams__button {
    position: absolute;
    width: 297px;
    height: 59px;
    left: 388px;
    top: 66px;
}
.registration__button {
    cursor: pointer;

    background: #000;
    box-sizing: border-box;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #000;
    color: #fff;
}

.headline {
    position: absolute;
    top: 35px;
    left: 53px;
    height: 39px;
    width: 333px;
}

.subtitle {
    position: absolute;
    white-space: nowrap;
    top: 88px;
    left: 53px;
    width: 17px;
    height: 292px;

    color: #A69E9E;
}

.input {
    margin: 0;
    padding: 0;
    border: none;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 50px;
    padding-left: 14px;
    width: 488px;
    height: 54px;
}

.label__email {
    position: absolute;
    width: 46px;
    height: 17px;
    left: 53px;
    top: 125px;
}

.input__email {
    position: absolute;
    top: 146px;
    left: 53px;
}

.label__psw {
    position: absolute;
    width: 55px;
    height: 17px;
    left: 53px;
    top: 220px;
}

.input__psw {
    position: absolute;
    left: 53px;
    top: 242px;
}

.bottom__button__login {
    position: absolute;
    width: 219px;
    height: 30px;
    left: 187px;
    top: 376px;
    
    cursor: pointer;
    border: none;
    background-color: #000;
    text-align: center;
    border-radius: 50px;
    color: #fff;
}

.bottom__button__login:hover {
    background-color: #fff;
    color: #000;
    text-decoration: underline;
}

.forget__psw {
    position: absolute;
    left: 421px;
    top: 328px;

    color: #000000;
}

.bottom__button__google {
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 219px;
    height: 30px;
    left: 187px;
    top: 421px;
    background-color: #fff;
    color: #000;
    text-align: right;
    padding-right: 21px;
    border: 1px solid #A69E9E;
    border-radius: 50px;
}

.google__logo {
    position: absolute;
    left: 26px;
    top: 4px;
}

.bottom__button__google:hover {
    text-decoration: underline;
}

.not__registered {
    position: absolute;
    left: 77px;
    top: 466px;
    width: auto;
    height: 17px;
    white-space: nowrap;

    font-weight: 600;
    color: #A69E9E;
}

.register__end {
    color: #000;
    text-decoration: underline;
}

.input__team-name {
    position: absolute;
    left: 53px;
    top: 147px;
}

.label__team-name {
    position: absolute;
    top: 126px;
    left: 53px;
    width: auto;
    white-space: nowrap;
}

.checkbox__label {
    position: absolute;
    left: 54px;
    top: 326px;
}

.checkbox {
    display: none;
}

.checkbox__marker {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    box-sizing: border-box;
}

.fake::before {
    content: "";
    display: inline-block;
    opacity: 0;
    transition: .2s;
}

.checkbox:checked + .checkbox__marker::before {
    content: url(../images/main/checkbox-marker.svg);
    opacity: 1;
}

.remember__me {
    position: absolute;
    white-space: nowrap;
    left: 25px;
    width: auto;
}