.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#header__logo {
    position: absolute;
    width: 59px;
    height: 59px;
    left: 99px;
    top: 83px;

    cursor: pointer;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    cursor: pointer;
}

.headerButton {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    
    padding: 4px 8px;
    background-color: #000;
    border-radius: 50px;
}

.headerButton:hover {
    color: #000;
    background-color: #fff;
    text-decoration-line: underline;
}

#specialists {
    position: absolute;
    width: 142px;
    height: 26.4px;
    left: 1037px;
    top: 83.4px;
}

#teams {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 1244px;
    top: 83px;
}

#search {
    position: absolute;
    width: 61px;
    height: 22px;
    left: 1401px;
    top: 83px;
}

#feedbacks {
    position: absolute;
    /*width: 131px;*/
    height: 22px;
    left: 1519px;
    top: 83px;
}

#bell {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1708px;
    top: 83px;
}

#profile__avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1781px;
    top: 75px;
}

#search__box {
    display: none;
    z-index: 1;
}

#search-txt {
    z-index: 2;
    border: none;
    position: absolute;
    width: 152px;
    height: 17px;
    left: 1300px;
    top: 130.5px;
    outline: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #C2C2C2;
    background: #F0F0F0;
}

#search-bg {
    position: absolute;
    width: 228px;
    /*height: 51.5px;*/
    left: 1260px;
    top: 106px;
}

#magnifier-1 {
    position: absolute;
    height: 16px;
    width: 21.33333396911621px;
    left: 1271px;
    top: 132.60498046875px;

    border-radius: 0px;
}

#magnifier-2 {
    position: absolute;
    height: 4.350000381469727px;
    width: 5.8000006675720215px;
    left: 1286px;
    top: 145px;

    border-radius: 0px;
}

#notifications {
    z-index: 2;
    display: none;
}

#notifications__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    position: absolute;
    width: 180px;
    height: 237px;
    left: 1580px;
    top: 109px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
    border-radius: 4px;
}

#main__information {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#main__image {
    z-index: 0;
    position: absolute;
    width: 620px;
    height: 500px;
    left: 650px;
    top: 183px;
    }

#headline {
    position: absolute;
    width: 472px;
    height: 88px;
    left: 99px;
    top: 198px;
}

.main__txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.main__txt2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;

    color: #000000;
}

.main__txt3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    color: #000;
}

#subheadline {
    position: absolute;
    width: 483px;
    height: 88px;
    left: 99px;
    top: 305px;
}

#learn__more {
    position: absolute;
    width: 130px;
    height: 17px;
    left: 99px;
    top: 453px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;

    color: #000000;
}

#main__portfolio {
    position: absolute;
    width: 108px;
    height: 22px;
    left: 1331px;
    top: 198px;
}

#main__exp {
    position: absolute;
    width: 130px;
    height: 22px;
    left: 1678px;
    top: 198px;
}

#main__teams {
    position: absolute;
    width: 87px;
    height: 22px;
    left: 1331px;
    top: 339px;
}

#main__specialists {
    position: absolute;
    width: 128px;
    height: 22px;
    left: 1678px;
    top: 339px;
}

#count__portfolio {
    position: absolute;
    width: 92px;
    height: 59px;
    left: 1331px;
    top: 229px;
}

#count__exp {
    position: absolute;
    width: 47px;
    height: 59px;
    left: 1678px;
    top: 229px;
}

#count__teams {
    position: absolute;
    width: 101px;
    height: 59px;
    left: 1331px;
    top: 370px;
}

#count__specialists {
    position: absolute;
    width: 118px;
    height: 59px;
    left: 1678px;
    top: 370px;
}

#portfolio__main {
    position: absolute;
    width: 217px;
    height: 44px;
    left: 99px;
    top: 760px;
}

#teams__main {
    position: absolute;
    width: 175px;
    height: 44px;
    left: 100px;
    top: 1463px;
}

#email__text {
    position: absolute;
    width: 483px;
    height: 44px;
    left: 719px;
    top: 2210px;

    text-align: center;
}

#email__container {
    box-sizing: border-box;

    position: absolute;
    width: 332px;
    height: 142px;
    left: 795px;
    top: 2307px;

    border: 1px solid #000000;
    border-radius: 40px;
}

#email__headline {
    position: absolute;
    width: 117px;
    height: 22px;
    left: 28px;
    top: 19px;
}

#email__example {
    position: absolute;
    width: 240px;
    height: 22px;
    left: 27px;
    top: 54px;

    color: #A69E9E;

    border: none;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.4);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    outline: none;
    vertical-align: middle;
    white-space: nowrap;
}

#confirmation {
    position: absolute;
    width: 100px;
    height: 33px;
    left: 216px;
    top: 88px;

    color: #FFFFFF;
    background: #000000;
}

#footer__bottom {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 80px;
    top: 2532px;

    background: #000000;
}

#footer__logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 132px;
    top: 0px;
}

#telegram__logo {
    position: absolute;
    left: 324px;
    width: 40px;
    height: 40px;
    top: 20px;
}

#vk__logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 495px;
    top: 20px;
}

#footer__creator-mail {
    position: absolute;
    width: 204px;
    height: 22px;
    left: 1288px;
    top: 29px;

    color: #FFFFFF;
}